html, body {
  height: 100.1%;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  /* Hide scrollbars */
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;

   font-family: "Avenir Next", "Avenir", sans-serif;
}

canvas {
  display: block;
}



.topnav {
  overflow: hidden;
 position:absolute;
  right:10px;
  top:10px;
  width: 100%;

}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: black;
  margin-left: 1%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 4vw;

}

.topnav a.icon {
float:right;


}

.topnav a:hover {
  background-color: white;
  color: black;
  opacity: 0.8;
}

.active {
  background-color: #4CAF50;
  color: white;

}

.content {
 position: absolute;
 overflow: auto;
 font-size: 2vw;
 center: 0

 width: 80%;
 padding: 20px;
}

.content #myInfo {
 display: none;
 background:none;
 padding: 20px;
 color: black;
}
